
/*Вспомгательное оформление для подготовки сетки сайта*/
/*Шапка*/

.main-footer {
  background-color: rgba(0,0,255,0.5);
}

.main-header {
  background-color: rgba(0,0,255,0.5);
}

.site-examle{
  background-color: rgba(0,0,250,0.5);
}
.social {
  background-color: rgba(0,50,150,0.5);
}
.promotion {
  background-color: rgba(200,100,100,0.5);
}

/*Основное оформление*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

/*глобальные настройки*/
/*для файла scaffolding.less*/

body {
  min-width: 1200px; /* 'надо обязательно задавать  ширину для боди (по макету), иначе при масштабировании (увеличение) экрана фон будет обрезаться справа. Так происходит со всеми блоками, дял которых не задана ширина*/
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #283136;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}
/***********************************************************************************/
/*максимально реиспользуемые блоки*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 880px; /*вставить переменную, отвечающую за ширину макета, и центровщика соответстввенно */
  padding-left: 10px; /* для отступов и маргинов также можно сделать переменные */
  padding-right: 10px;
  padding-top: 25px;
}

.btn {
  width: 240px;
  background-color: #fb565a;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
  text-transform: uppercase;
}
/***********************************************************************************/
.main-header {
  /*background-color: #eeeeee; /* переменная*/
}

.main-header__logo {
  float: left;
  width: 138px;
}

.main-navigation{
  font-size: 14px;
  float: right;
  width: 738px; /*если не задавать ширину в явном виде, то колонки перескакивают! и так они просто мастабируюся, пока контент не будет их больше.
  На этот случай ширину можно деать больше, и дпжн гн рлдьзоваться падингами и маргрнами, а содержимое в них выоавнивать по левому краю text-align: right */
  margin-top: 35px;
  text-align: right;
}

.main-navigation__link {
  color: #000000;
}

.main-navigation__list {
  display: inline-block;
  font-size: 0; /*избавляемся от пробелом между блочно-строчными элементами*/
  list-style: none;
  padding: 0; /*убираем отступы слева справа */
  margin: 0; /*убираем отступы сверху  снизу*/
}

.main-navigation__item {
  display: inline-block;
  margin-right: 45px;
  font-size: 14px;
}

.main-navigation__basket {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding-left: 15px;
}

.promo {
  clear: both;
  position: relative;
}

.promo__description {
  float: left;
  padding-top: 70px;
  padding-bottom: 78px;
  width: 463px;
}

.promo__img {
  position: absolute;
  right: 0;
  /*bottom: 0;*/
  /*float: right;*/
  /*width: 380px;*/
  width: 341px;
  height: 310px;
  padding-top: 40px;
  text-align: right;
  line-height: 0px; /* для того чтобы у имг не было отступов снизу и сверху. Можно добиться такого и display block. Но тогда нельзя будет к имг применить выравнивание текста справа, т.к. он перестанет быть строчным элементом */
}

.promo__slogan {
   font-size: 36px;
   line-height: 36px;
   color: #000000;
}

.promo__text{
  padding: 0px; /* это лишнее, т.к. паддингов и так е было у параграфа */
  margin: 0px;
  padding-top: 21px;
  padding-bottom: 31px;
}






main {
  /*background-color: #ffffff;*/
}


span.icon-basket {
  font-size: 16px;
  line-height: 8.56px;
  color: #a6a6a6;
  padding-right: 10px;
}


.products {
  margin-top: 55px;
  padding-bottom: 80px;
  border-bottom: 2px  solid #eeeeee;
}
.products-item {
  float: left;
  width: 240px; /*уточнить размер по макету*/
  /*color: #283136; */
  /*color: red;*/
  padding-right: 80px;
  line-height: 0;
}

.products-item:last-child {
  padding-right: 0px;
}

.products-item p{
  font-size: 15px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

.products-item h2{
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}


.our-characteristic {
  padding-top: 52px;
  padding-bottom: 70px;
  border-bottom: 2px solid #eeeeee
}

.our-characteristic-left-column {
  float: left;
  width: 620px;
}

.our-characteristic-left-column h2, p {
  padding: 0px;
  margin: 0px;
}

.our-characteristic-left-column  p {
  padding-bottom: 50px;
}

.our-characteristic-left-column h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  font-weight: 500;
  margin-bottom: 20px;
}

.our-characteristic ul {
  margin-top: 25px;
  margin-bottom: 0px;
}

.our-characteristic-right-column {
  float: right;
  width: 240px;
}

.our-characteristic-right-column img{
  display: block;
  margin-bottom: 60px;
}

.capslock {
  text-transform: uppercase;
}

.site-example{
  padding-top: 40px;
  padding-bottom: 35px;
  margin-bottom: 87px;
  border-bottom: 2px solid #eeeeee;

}

.site-example ul {
  padding: 0;
  margin: 0;
  line-height: 0; /*ul - являются строчными элементами, поэтому у них вокруг есть отступы, обусловленные высотой строки*/
  font-size: 0;
  list-style: none;
}

.site-example li {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  padding-right: 79px;
  /*width: 300px; /*уточнить по макету*/
}

.site-example li:last-child{
  padding-right: 0px;
}

.site-example a {
  display: block;
}

.promotion p {
  margin: 0;
}
.map-contacts {
  background-color: #ffffff; /*уточнить по макету*/
}
.social {
  float: left;
}
.promotion {
  float: left;
}

.map {
  width: 100%;/*1200px;*/
  /*margin: 0 auto;*/
  height: 420px;
    /*background-image: url(../images/map-total.png);*/
  /*background: url(../images/map.png) center center no-repeat;
        /*-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;*/
        /*background-size: cover;*/
  /*padding-top: 90px;
  /*padding-left: 160px; /*падинги родителя предотвращают выпадания маргинов детей, типа h2, p ....*/
  /*padding-bottom: 90px;*/
}
.map-contacts {
  width: 250px;
  padding: 25px;
}
.map-contacts h2, .map-contacts p {
   margin: 0;
   padding: 0;
}
.contacts {
  position: relative;
}
.map-contacts {
  position: absolute;
  top: 90px;
}
/*.info {
  position: absolute;
    top: 90px;
}*/
